body {
    background-color: gray;
}

* {
    border: 1px solid whitesmoke;
    border-width: 100%;
}

div p {
    border: 1px solid red;
}

.container div {
    border: 1px solid blue;
}